@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --nav-width: 20rem;
}


.text-outline{
  -webkit-text-stroke: 1px #ffffff;
}
.text-outline-hover{
  -webkit-text-stroke: 1px #055535;
}

@font-face {
    font-family: "JetBrains Mono";   /*Can be any text*/
    font-style: normal;
    font-display: swap;
    font-weight: 100 800;
    src: url("./fonts/JetBrains Mono.woff2") format("woff");
  }





  